doctype html
head
div(style='font-family: Helvetica,Arial,sans-serif;')
  div(style='')
    p(style='font-size:1.1em') Hi, #{username}
    p
      | Untuk melanjutkan permintaan reset password, silahkan klik link dibawah ini  :
    br
    a(href=otp) #{otp}
    p(style='font-size:0.9em;')
      br
      | Terima kasih,
      br
      b Peluang Kerja Ku
